{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="uk-container">
        <article class="uk-article">

            <h1 class="uk-article-title">{{ post.title }}</h1>
            <p class="uk-article-meta">Written by {{ post.author }} on
                <time datetime="{{ post.publish }}">{{ post.publish|date:"M d, Y" }}</time>
            </p>
            <p>{{ post.body|linebreaks }}</p>

            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                    <a class="uk-button uk-button-text" href="{% url "blog:post_share" post.id %}">Share Post</a>
                </div>
            </div>

        </article>


        <h3>Similar posts</h3>
        <ul class="uk-subnav uk-subnav-divider" uk-margin>
            {% for post in similar_posts %}

                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% empty %}
                <p>
                    No similar posts.
                </p>
            {% endfor %}
        </ul>

        {% with comments.count as total_comments %}
            <h3>{{ total_comments }} comment{{ total_comments|pluralize:"s" }}</h3>
        {% endwith %}
        <ul class="uk-comment-list">
            {% for comment in comments %}
                <li>
                    <article
                            class="uk-comment uk-visible-toggle {% if forloop.counter|divisibleby:2 %} uk-comment-primary{% endif %}"
                            tabindex="-1">
                        <header class="uk-comment-header uk-position-relative">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar"
                                         src="https://avatars.dicebear.com/v2/bottts/example.svg?options[colors][]=cyan"
                                         width="80" height="80" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <h5 class="uk-comment-meta uk-margin-remove">
                                        <a class="uk-link-reset" href="#">Comment: {{ forloop.counter }} added
                                            by: {{ comment.name }}</a>
                                    </h5>
                                    <p class="uk-comment-meta uk-margin-remove-top">
                                        <a class="uk-link-reset" href="#">{{ comment.created }}</a>
                                    </p>
                                </div>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <p>{{ comment.body|linebreaks }}</p>
                        </div>
                    </article>
                </li>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </ul>



        {% if new_comment %}
            <h3>Your comment has been added.</h3>
        {% else %}
            <h3>Add new comment</h3>
            <form action="." method="post">
                <fieldset class="uk-fieldset">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="uk-button uk-button-primary">Add Comment</button>
                </fieldset>
            </form>
        {% endif %}
    </div>


{% endblock %}