<ul class="uk-pagination">
    {% if page.has_previous %}
        <li>
            <a href="?page={{ page.previous_page_number }}">
                <span uk-pagination-previous></span>
                Previous
            </a>
        </li>
    {% endif %}
    <span class="current">Page: {{ page.number }}/{{ page.paginator.num_pages }}</span>
    {% if page.has_next %}
        <li>
            <a href="?page={{ page.next_page_number }}">Next
                <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
        </li>
    {% endif %}
</ul>
